@{
    ViewData["Title"] = "Home Page";
}

@model AirQualityIndexViewModel

<div>

    <h1 class="display-4 text-center">Welcome to air quality index page</h1>

    <div class="row gx-5 mt-4">

        <div class="col parameters">

            <form method="post" asp-action="GetMeasurements" asp-controller="AirQuality">

                <div class="p-3 border bg-light">
                    <select class="form-control" asp-items="Model.AllCountries" asp-for="SelectedCountries" multiple="multiple"></select>
                </div>

                <div class="p-3 border bg-light">
                    <select class="form-control" asp-items="Model.AllCities" asp-for="SelectedCities" multiple="multiple"></select>
                </div>

                <button type="submit" class="btn btn-success mt-4">Get Results</button>

            </form>

        </div>


        <div class="col results">
            @if (Model.Measurements != null &&  Model.Measurements.Any())
            {
                <div class="p-3 border bg-light">
                    @foreach (var measurement in Model.Measurements)
                    {
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    }
                </div>

            }
        </div>

    </div>

</div>
