@{
    ViewData["Title"] = "Home Page";
}

@model AirQualityIndexViewModel

<div>

    <h1 class="display-4 text-center">Welcome to air quality index page</h1>

    <div class="row gx-5 mt-4">

        <div class="col parameters">

            <form method="get" asp-action="GetMeasurements" asp-controller="AirQuality">

                <div class="p-3 border bg-light">
                    <select class="form-control" asp-items="Model.AllCountries" asp-for="SelectedCountries" multiple="multiple"></select>
                </div>

                <div class="p-3 border bg-light">
                    <select class="form-control" asp-items="Model.AllCities" asp-for="SelectedCities" multiple="multiple"></select>
                </div>

                <button type="submit" class="btn btn-success mt-4">Get Results</button>
            </form>

        </div>

        <div class="col results">
            @if (Model.Measurements != null && Model.Measurements.Any())
            {

                <div class="p-3 border bg-light">
                    @foreach (var measurement in Model.Measurements)
                    {

                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">@measurement.location</h5>
                                @if (measurement.measurements != null && measurement.measurements.Any())
                                {
                                    // display more data ??
                                    <div class="measurement-body">
                                        @foreach (var _measurement in measurement.measurements)
                                        {
                                            <div class="measurement-box">
                                                <label class="card-text">@($"{_measurement.parameter}")</label>
                                                <span class="measurement-value">@($"{_measurement.value}")</span>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>

    </div>

</div>
