@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome hello world</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <select class="js-example-basic-single AllCountriesList" name="state" asp>
        <option value="AL">Alabama</option>
        ...
        <option value="WY" >Wyoming</option>
    </select>


</div>
